.sproduct-form {
  width: 100%;
  height: 100vh;
}
.sproduct-form img {
  width: 80%;
  height: auto;
}
.sproduct-form .title {
  text-align: start;
  width: 60%;
  color: black;
  font-size: 40px;
  font-family: "Concert One", cursive;
  border-bottom: 4px solid rgb(185, 115, 67);
}
.sproduct-form .price {
  padding-bottom: 30px;
  color: rgb(185, 115, 67);
  text-align: start;
  font-size: 25px;
  font-family: "Concert One", cursive;
}
/* .sproduct-form .button-form {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-self: start;
}
.button-form.button {
  align-items: flex-start;
} */
.amount {
  width: 100%;
  text-align: start;
  color: rgb(185, 115, 67);
  font-size: 25px;
  font-family: "Lobster", cursive;
  padding-bottom: 40px;
}

.sproduct-form .button-form {
  width: 100%;
  text-align: start;
}
.sproduct-form .button-form .button-buy {
  width: 45%;
  height: 50px;
  font-family: "Concert One", cursive;
  font-size: 25px;
  color: rgb(185, 115, 67);
  background: linear-gradient(to left, white 50%, rgb(164, 115, 67) 50%) right;
  border: 2px solid rgb(185, 115, 67);
  transition: 0.5s ease-out;
  background-size: 200%;
}
.sproduct-form .button-form .button-buy:hover {
  border: 2px solid rgb(164, 115, 67);
  color: white;

  background-position: left;
}
.sproduct-form .description-form {
  padding-top: 100px;
  text-align: start;
  font-size: 25px;
  font-family: "Concert One", cursive;
}
.sproduct-form .description-form .title {
  font-size: 20px;
  color: rgb(185, 115, 67);
  border: none;
}
